<%= form_with(scope: :search, url:movies_path, method: :get, local: true) do |f| %>

  <%= f.label :keyword %>
  <%= f.text_field :keyword, value: @search_params[:keyword] %>

  <%= f.submit 'Search' %>
  
  <%= f.label :theater_id, '映画館1' %>
  <%= f.radio_button :theater_id, 1 %>

  <%= f.label :theater_id, '映画館2' %>
  <%= f.radio_button :theater_id, 2 %>

  <%= f.label :is_showing, '上映中', value: 1 %>
  <%= f.radio_button :is_showing, 1 %>

  <%= f.label :is_showing, '公開予定', value: 0 %>
  <%= f.radio_button :is_showing, 0 %>

  <%= f.label :is_showing, 'すべて' %>
  <%= f.radio_button :is_showing, '' %>
<% end %>

<table>
  <thead>
    <tr>
      <th class="header1">ID</th>
      <th class="header2">タイトル</th>
      <th class="header2">公開年</th>
      <th class="header2">概要</th>
      <th class="header2">画像</th>
      <th class="header2">上映中</th>
      <th class="header2">映画館</th>
      <th class="header2">レビュー</th>
      <th class="header2">件数</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.id, movie_path(movie) %></td>
        <td><%= movie.name %></td>
        <td><%= movie.year %></td>
        <td><%= safe_join(movie.description.split("\n"),tag(:br)) %></td>
        <td><%= image_tag movie.image_url.url, class:'image' %></td>
        <% if movie.is_showing == true %>
          <td>上映中</td>
        <% else %>
          <td>公開予定</td>
        <% end %>
        <td><%= movie.theater.name %></td>
        <% if movie.reviews.blank? %>
          <td>レビューがありません</td>
        <% else %>
          <td>
            <div class="average-review-rating" data-score=<%= movie.reviews.average(:score).round(2) %>></div>
          </td>
        <% end %>
        <% if movie.reviews.count == 0 %>
          <td>(<%= movie.reviews.count %>)</td>
        <% else %>
          <td><div><%= link_to "(#{movie.reviews.count})", movie_reviews_path(movie) %></div></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <div><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></div>
  <div><%= link_to 'マイページへ', user_path(@user.id) %></div>
<% else %>
  <div><%= link_to 'ログイン', new_user_session_path %></div>
  <div><%= link_to 'アカウント作成', users_new_path %></div>
<% end %>

<script  type="text/javascript">
  $('.average-review-rating').empty();
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>