<table>
  <thead>
    <tr>
      <th class="header1">ID</th>
      <th class="header2">タイトル</th>
      <th class="header2">公開年</th>
      <th class="header2">概要</th>
      <th class="header2">画像URL</th>
      <th class="header2">上映中</th>
      <th class="header2">登録日時</th>
      <th class="header2">更新日時</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @movies.each do |movie| %>
        <td><%= movie.id %></td>
        <td><%= movie.name %></td>
        <td><%= movie.year %></td>
        <td><%= movie.description %></td>
        <td><img src="<%= movie.image_url %>"></td>
        <% if movie.is_showing %>
          <td>上映中</td>
        <% else %>
          <td>上映予定</td>
        <% end %>
        <td><%= movie.created_at %></td>
        <td><%= movie.updated_at %></td>
      <% end %>
    </tr>
  </tbody>
</table>