<%= form_with(scope: :search, url:movies_path, method: :get, local: true) do |f| %>

  <%= f.label :keyword %>
  <%= f.text_field :keyword, value: @search_params[:keyword] %>

  <%= f.submit 'Search' %>

  <%= f.label :is_showing, '上映中', value: 1 %>
  <%= f.radio_button :is_showing, 1 %>

  <%= f.label :is_showing, '公開予定', value: 0 %>
  <%= f.radio_button :is_showing, 0 %>

  <%= f.label :is_showing, 'すべて' %>
  <%= f.radio_button :is_showing, '' %>
<% end %>

<table>
  <thead>
    <tr>
      <th class="header1">ID</th>
      <th class="header2">タイトル</th>
      <th class="header2">公開年</th>
      <th class="header2">概要</th>
      <th class="header2">画像URL</th>
      <th class="header2">上映中</th>
      <th class="header2">登録日時</th>
      <th class="header2">更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.id, movie_path(movie) %></td>
        <td><%= movie.name %></td>
        <td><%= movie.year %></td>
        <td><%= safe_join(movie.description.split("\n"),tag(:br)) %></td>
        <td><img src="<%= movie.image_url %>"></td>
        <% if movie.is_showing == true %>
          <td>上映中</td>
        <% else %>
          <td>公開予定</td>
        <% end %>
        <td><%= l movie.created_at %></td>
        <td><%= l movie.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <div><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></div>
  <div><%= link_to 'マイページへ', user_path(@user.id) %></div>
<% else %>
  <div><%= link_to 'ログイン', new_user_session_path %></div>
  <div><%= link_to 'アカウント作成', users_new_path %></div>
<% end %>