<table>
  <thead>
    <tr>
      <th class="header1">ID</th>
      <th class="header2">タイトル</th>
      <th class="header2">公開年</th>
      <th class="header2">概要</th>
      <th class="header2">画像URL</th>
      <th class="header2">上映中</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="movie_id"><%= @movie.id %></td>
      <td><%= @movie.name %></td>
      <td><%= @movie.year %></td>
      <td><%= safe_join(@movie.description.split("\n"),tag(:br)) %></td>
      <td><img src="<%= @movie.image_url %>"></td>
      <% if @movie.is_showing == true %>
        <td>上映中</td>
      <% else %>
        <td>公開予定</td>
      <% end %>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th class="header2">ID</th>
      <th class="header2">映画開始時刻</th>
      <th class="header2">映画終了時刻</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%=  schedule.start_time %></td>
        <td><%=  schedule.end_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with model: @movie, local: true do |f| %>
    
  <%= f.select :date, (0..6).map {|i| [(Time.now + i.days).strftime("%m月%d日"), (Time.now + i.days).strftime("%Y-%m-%d")]} %>

  <%= f.select :schedule_id, @schedules.map {|schedule| [schedule.start_time.strftime("%m月%d日%H時%M分"), schedule.id]} %>
  <button type="button" id="selectSchedule">座席を予約する</button>
<% end %> 

<%= link_to '映画一覧に戻る', movies_path %>

<script  type="text/javascript">
 $(function(){
    $('#selectSchedule').click(function(){
      const movie_id = document.getElementById('movie_id').innerHTML;
      const select_date = document.getElementById("movie_date").value;
      const schedule_id = document.getElementById("movie_schedule_id").value;
      window.location.href = `/movies/${movie_id}/schedules/${schedule_id}/sheets?date=`+  encodeURIComponent( select_date );
    });
  });
</script>