<table>
  <thead>
    <tr>
      <th class="header1">ID</th>
      <th class="header2">タイトル</th>
      <th class="header2">公開年</th>
      <th class="header2">概要</th>
      <th class="header2">画像</th>
      <th class="header2">上映中</th>
      <th class="header2">レビュー</th>
      <th class="header2">件数</th>
      <th class="header2"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="movie_id"><%= @movie.id %></td>
      <td><%= @movie.name %></td>
      <td><%= @movie.year %></td>
      <td><%= safe_join(@movie.description.split("\n"),tag(:br)) %></td>
      <td><%= image_tag @movie.image_url.url, class:'image' %></td>
      <% if @movie.is_showing == true %>
        <td>上映中</td>
      <% else %>
        <td>公開予定</td>
      <% end %>
      <td>
        <div class="average-review-rating" data-score=<%= @average_review %>></div>
      </td>
      <% if @movie.reviews.count == 0 %>
        <td>(<%= @movie.reviews.count %>)</td>
      <% else %>
        <td><div><%= link_to "(#{@movie.reviews.count})", movie_reviews_path(@movie) %></div></td>
      <% end %>
      <td><%= link_to 'レビューを書く', new_movie_review_path(@movie) %></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th class="header2">ID</th>
      <th class="header2">映画開始時刻</th>
      <th class="header2">映画終了時刻</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%=  schedule.start_time %></td>
        <td><%=  schedule.end_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with model: @movie, local: true do |f| %>
    
  <%= f.select :date, (0..6).map {|i| [(Time.now + i.days).strftime("%m月%d日"), (Time.now + i.days).strftime("%Y-%m-%d")]}, { include_blank: '日付を選択してください'} %>

    <select id="movie_schedule_id">
      <option>スケジュールを選択してください</option>
    </select>
  <button type="button" id="selectSchedule">座席を予約する</button>
<% end %> 

<%= link_to '映画一覧に戻る', movies_path %>

<script  type="text/javascript">
 $(function(){
    $('#selectSchedule').click(function(){
      const movie_id = document.getElementById('movie_id').innerHTML;
      const select_date = document.getElementById("movie_date").value;
      const schedule_id = document.getElementById("movie_schedule_id").value;
      if (isNaN(schedule_id)) {
        alert( 'スケジュールを選択してください' );
      }else{
        window.location.href = `/movies/${movie_id}/schedules/${schedule_id}/sheets?date=`+  encodeURIComponent( select_date );
      }
    });
  });

  $(document).ready(function(){
    $('#movie_date').change(function(){
      let date = $("#movie_date").val();
      const movie_id = document.getElementById('movie_id').innerHTML;
      $.get("<%= movies_schedule_select_path %>",
        { date: date, movie_id: movie_id },
        function(data){ }
      );
    });
  });

  $('.average-review-rating').empty();
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>