<table>
  <thead>
    <tr>
      <th class="header1">ID</th>
      <th class="header2">タイトル</th>
      <th class="header2">公開年</th>
      <th class="header2">概要</th>
      <th class="header2">画像URL</th>
      <th class="header2">上映中</th>
      <th class="header2">登録日時</th>
      <th class="header2">更新日時</th>
      <th class="header2">映画開始時刻</th>
      <th class="header2">映画開始時刻</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.id, edit_admin_movie_path(movie) %></td>
        <td><%= movie.name %></td>
        <td><%= movie.year %></td>
        <td><%= safe_join(movie.description.split("\n"),tag(:br)) %></td>
        <td><img src="<%= movie.image_url %>"/></td>
        <% if movie.is_showing == true %>
          <td>上映中</td>
        <% else %>
          <td>公開予定</td>
        <% end %>
        <td><%= l movie.created_at %></td>
        <td><%= l movie.updated_at %></td>
        <% movie.schedules.each do |schedule| %>
          <td><%= schedule.start_time.to_s %></td>
          <td><%= schedule.end_time.to_s %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>