<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% cache do %>
      <h1><%= @user.name %>様、明日の映画の予約確認メールです</h1>
      <p>映画館：<%= @movie.theater_id %></p>
      <p>作品：<%= @movie.name %></p>
      <p>上映時刻：<%= l @schedule.start_time %></p>
      <p>座席： <%= @sheet.column %> </p>
    <% end %>
  </body>
</html>